<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
			<resource id="Magento_Backend::admin">
				<resource id="MGS_Mpanel::mpanel" title="MGS Panel" sortOrder="1000"/>
				
				<resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MGS_Mpanel::config_mpanel" title="MGS General Settings" />
                            <resource id="MGS_Mpanel::config_mgstheme" title="MGS Theme Settings" />
                            <resource id="MGS_Mpanel::config_color" title="MGS Theme Color" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>